*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

hr{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 20px;
}

article{
    display: grid;
    width: 300px;
    margin: auto;
}

ul{
    width: 450px;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    background-color: grey;
    border-radius: 15px;
}

li{
    list-style: none;
}